# Entornos virtuales
venv/
.venv/
env/
.env/

# Archivos de caché
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/

# Archivos de desarrollo
.git/
.github/
.gitignore
.vscode/
.idea/

# Directorio de uploads
uploads/

# Logs
*.log

# Otros archivos no necesarios
README.md
LICENSE
.env
.env.example
temp_storage/
